@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&display=swap");

$primary-green: #3de07e;
$primary-blue: #3bbbe2;
$primary-yellow: #edd364;
$button-clr: #e83f57;
$black-text: rgb(34, 34, 34);
$white-text: rgb(255, 255, 255);
$ff-text: "Fira Sans", sans-serif;
$black-bg: rgb(0, 0, 0);
